!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width"}
    %title My Application

    = stylesheet_link_tag '/vendor/bootstrap/css/bootstrap.min.css'
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    = stylesheet_link_tag '/vendor/bootstrap/css/bootstrap-responsive.min.css'

    = javascript_include_tag '/vendor/jquery/jquery.min.js'
    = javascript_include_tag '/vendor/bootstrap/js/bootstrap.min.js'
    = javascript_include_tag :application
  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.brand My Application

          .nav-collapse.collapse
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  Menu
                  %b.carret
                %ul.dropdown-menu
                  %li
                    %a(href="/foo") foo
                  %li
                    %a(href="/bar") bar
                  %li
                    %a(href="/baz") baz

    .container
      = yield
